[Unit]
Description=Tinkerforge Domoticz Service IO4V2
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u tfio4v2-mqtt.py
WorkingDirectory=/home/pi/domoticz/scripts/python
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

